@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
  display: block;
}
body{
  background-color: #FFF8F0;
  color: #444;
  font-family: "pretandard";
  position: relative;
}
h1,h2{
  font-family: 'RixInooAriDuriR';
  font-weight: 400;
}

/* wrap */
.wrap{
  width: 100%;
  height: 100vh;
  position: relative;
} 


/* 헤더영역 */
header{
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .h_top{
  width: 100%;
  height: 100px;
  padding-left: 100px;
  border-bottom: 1px solid #fff;
}
header .h_top a{
  display: block;
  width: 500px;
  height: 100px;
  margin: auto;
}
header .h_bottom{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #fff;
}
header .h_bottom .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .h_bottom .search form {
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #FFA500;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  height: 45px;
}

.search input[type="search"] {
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 16px;
  width: 470px;
}

header .h_bottom .search button {
  position: absolute;
  top: 7px;
  right: 0px;
  border: none;
  background: none;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .h_bottom .search button img {
  width: 25px;
  height: 25px;
}

header .h_bottom nav{
width: 100%;
height: 100%;
}
header .h_bottom nav ul{
width:80%;
height: 100%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: yellow; */
}
header .h_bottom nav ul li a{
display: block;
width: 100px;
height: 60px;
line-height: 60px;
text-align: center;
align-content: center;
font-family: 'MangoDdobak-B';
font-size: 1.2em;
font-weight: bold;
color: #333;
transition: 0.3s ease;
text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
header .h_bottom nav ul li a>img{
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 60px;
}
header .h_bottom nav li a{
transition: 0.3s ease;
}
header .h_bottom nav ul li:hover{
transform: translateY(-5px);
}


/* 로그인창 */
main{
height: 100vh;
display: flex;
justify-content: center;
background: url(../img/signup/login_bg.jpg) center/cover;
animation: bgMove 30s linear infinite;
}
@keyframes bgMove {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 0;
  }
}

main .login{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
main .loginbtn{
  margin-bottom: 30px;
}
main .login hr{
  margin: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
main .login h2{
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  text-align: center; 
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
main .easy_login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}
main .easy_login a{
  transition: all 0.3s ease;
}
main .easy_login a:hover{
  transform: translateY(-3px);
}
main .easy_login a>img{
  width: 50px;
  height: 50px;
}

main .inputbox{
  position: relative;
  margin-bottom: 30px;
}
main .inputbox input{
  width: 100%;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 35px;
  font-size: 0.8em;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
main .inputbox input:focus{
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
main .inputbox label{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgba(194, 194, 194, 0.884);
  font-size: 1em;
  transition: all 0.3s ease;
}
main .inputbox input:focus + label,
main .inputbox input:valid + label{
  top: 0;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 1em;
}
main .forgot{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 0.9em;
color: #666;
margin-bottom: 20px;
/* background-color: aqua; */
}
main .forgot label{
  display: flex;
  align-items: center;
  cursor: pointer;
  /* background-color: #FFA500; */
}
main .forgot input{
  margin-right: 5px;
}
main .forgot a{
  transition: all 0.3s ease;
}
main .forgot a:hover{
  text-decoration: underline;
}

main .loginbtn{
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 35px;
  color: rgba(119, 119, 119, 0.938);
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
main .loginbtn:hover{
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
main .signup_link{
  text-align: center;
  margin-top: 20px;
  color: #666;
  font-size: 0.9em;
}
main .signup_link a{
  color: #FFA500;
  font-weight: 500;
  transition: all 0.3 ease;
  margin-left: 10px;
}
main .signup_link a:hover{
  text-decoration: underline;
}





/* footer */
footer{
  width: 100%;
  height: 450px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}
footer .f_inner{
  width: 80%;
  height: 100%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f_inner .sns{
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .f_inner .sns a:hover{
  transform: translateY(-3px);
}
footer .f_inner .sns>a>img{
  width: 40px;
  height: 40px;
}
footer .f_inner .f_right h3{
  color: #666;
  font-size: 1.8em;
  line-height: 1.4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer .f_inner .f_right p{
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
}
footer .f_inner .f_right a,span{
  font-size: 14px;
  color: #666;

}
footer .f_inner .f_right a::after{
  display: inline-block;
  content: '';
  width: 1px;
  height: 12px;
  background-color: #666;
  margin-left: 10px;
  margin-right: 10px;
}

/* side */
aside{
width: 60px;
height: 220px;
position: fixed;
right: 0px;
bottom: 50px;
text-align: center;
padding: 5px;
/*background-color: #00D0B4; */
}
aside .pagebtn,
aside .pagebtn .toppage{
    margin-bottom: 5px;
}
aside .pagebtn>a{
display: block;
border: none;
background:none;
cursor: pointer;
text-align: center;
padding: 5px;
transition: 0.3s ease;
/*background-color: yellow;*/
}
aside>a{
display: block;
width: 100%;
transition: 0.3s ease;
/*background-color: red;*/
}
aside .pagebtn>a:hover,
aside>a:hover{
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transform: translateY(-10%);
}

  @media screen and (max-width:1599px) {
    .wrap{
      min-width: 1599px;
    }
    } 
