@font-face {
font-family: 'MangoDdobak-B';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'RixInooAriDuriR';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
text-decoration: none;
color: inherit;
}
li{
list-style: none;
}
img{
max-width: 100%;
display: block;
}
body{
background-color: #FFF8F0;
color: #555555;
position: relative;
font-family: "pretandard";
}
h1,h2{
font-family: 'RixInooAriDuriR';
font-weight: 400;
}

/* 헤더영역 */
header{
width: 100%;
height: 180px;
}
header .h_top{
width: 100%;
height: 100px;
padding-left: 100px;
border-bottom: 1px solid #666;
}
header .h_top a{
display: block;
width: 500px;
height: 100px;
margin: auto;
}
header .h_bottom{
width: 100%;
height: 80px;
border-bottom: 1px solid #666;
}
header .h_bottom .search {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

header .h_bottom .search form {
width: 500px;
display: flex;
justify-content: space-between;
border: 2px solid #FFA500;
border-radius: 50px;
background-color: #fff;
overflow: hidden;
height: 45px;
}

.search input[type="search"] {
border: none;
outline: none;
padding: 0 30px;
font-size: 16px;
width: 470px;
}

header .h_bottom .search button {
position: absolute;
top: 7px;
right: 0px;
border: none;
background: none;
padding: 0 15px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
header .h_bottom .search button img {
width: 30px;
height: 30px;
}

header .h_bottom nav{
width: 100%;
height: 100%;
}
header .h_bottom nav ul{
width:80%;
height: 100%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: yellow; */
}
header .h_bottom nav ul li a{
display: block;
width: 100px;
height: 60px;
line-height: 60px;
text-align: center;
align-content: center;
font-family: 'MangoDdobak-B';
font-size: 1.2em;
font-weight: bold;
color: #333;
transition: 0.3s ease;
text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
header .h_bottom nav ul li a>img{
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 60px;
}
header .h_bottom nav li a{
transition: 0.3s ease;
}
header .h_bottom nav ul li:hover{
transform: translateY(-5px);
}

/* section01(이미지) */
section{
width: 100%;
height: 750px;
background: url(../img/sub1_detail/img1.jpeg) no-repeat center / cover;
filter: saturate(1);
position: relative;
margin-bottom: 100px;
}
section::before{
content: '';
display: block;
width: 100%;
height: 750px;
background: rgba(0, 0, 0, 0.1);
}
section .txt{
width: 1000px;
height: 300px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
align-content: center;
color: #fff;
background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(4px);
border: 1px solid #ffffff86;
border-radius: 30px;
}
section .txt h2{
font-size: 4em;
font-weight: 300;
text-shadow: 2px 2px 3px #444444;
margin-bottom: 20px;
}
section .txt p{
font-size: 1.8em;
text-shadow: 2px 2px 3px #444444;
}

main{
  width: 100%;
  height: 1400px;
  position: relative;
}
main .tabmenu{
  width: 70%;
  height: 100px;
  margin: auto;
  display: flex;
}
main .tabmenu>li{
  display: inline-block;
}
main .tabmenu .on{
  background-color: #FFA500;
  color: #FFF8F0;
}
main .tabmenu li{
  display: block;
  width: 664px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 2.5em;
  font-weight: 500;
  color: #666;
  border-radius: 50px 50px 0 0;
  border: 2px solid #FFA500;
}

main .tabcon{
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #FFF8F0;
  border-radius: 0 0 30px 30px;
}
main .info table{
  width: 100%;
  height: 800px;
  margin: auto;
  border-collapse: collapse;
}
main .info table tr{
  height:80px;
  border-bottom: 1px dashed #666;
}
main .info table th{
  border-right: 1px solid #666;
  padding : 8px 20px;
  font-size: 1.2em;
}
main .info table td{
  padding : 20px;
  font-size: 1.2em;
}

main .gall{
  border: 2px dashed #FFA500;
  border-top: none;
  display: none;
}
main .gall ul{
  width: 100%;
  height: 800px;
  margin: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
main .gall ul>li>img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  /* overflow: hidden; */
}



/*회원가입,공지사항 버튼 */
.fbtnbox{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.fbtnbox .fbtn{
  width: 400px;
  height: 100px;   
  font-size: 1.9em;
  font-weight: bold;
  color: #FFF8F0;
  align-content: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'MangoDdobak-B';
  transition: all 0.3s ease;
}
.fbtnbox .sign{
  background-color: #FFA500;
  box-shadow: 0 6px 20px rgba(255, 165, 0, 0.4);
}
.fbtnbox .sign:hover{
background-color: #FFF8F0;
border: 3px solid #FFA500;
color: #FFA500;
box-shadow: 0 10px 20px rgba(255, 159, 67, 0.55);
transform: translateY(-4px);
}
.fbtnbox .sign:active {
transform: scale(0.98);      
}
.fbtnbox .event{
  background-color: #00D0B4;
  box-shadow: 0 6px 20px #00d0b454;
}
.fbtnbox .event:hover{
background-color: #FFF8F0;
border: 3px solid #00D0B4;
color: #00D0B4;
box-shadow: 0 10px 20px #00d0b45e;
transform: translateY(-4px);
}
.fbtnbox .event:active{
transform: scale(0.98);  
}

/* footer */
footer{
width: 100%;
height: 450px;
backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.1);
border-top: 1px solid #666;
margin-top: 150px;
}
footer .f_inner{
width: 80%;
height: 100%;
padding: 20px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
footer .f_inner .sns{
width: 400px;
height: 50px;
display: flex;
justify-content: center;
gap: 20px;
cursor: pointer;
transition: all 0.3s ease;
}
footer .f_inner .sns a:hover{
transform: translateY(-3px);
}
footer .f_inner .sns>a>img{
width: 40px;
height: 40px;
}
footer .f_inner .f_right h3{
color: #666;
font-size: 1.8em;
line-height: 1.4;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer .f_inner .f_right p{
font-size: 1.2em;
margin: 20px 0;
font-weight: 400;
color: #666;
line-height: 1.6;
}
footer .f_inner .f_right a,span{
font-size: 14px;
color: #666;

}
footer .f_inner .f_right a::after{
display: inline-block;
content: '';
width: 1px;
height: 12px;
background-color: #666;
margin-left: 10px;
margin-right: 10px;
}

/* side */
aside{
width: 60px;
height: 200px;
position: fixed;
right: 0px;
bottom: 50px;
text-align: center;
padding: 5px;
/* background-color: #00D0B4; */
}
aside .pagebtn button{
border: none;
background:none;
cursor: pointer;
margin-bottom: 15px;
}
aside>a{
display: block;
width: 100%;
}

  @media screen and (max-width:1599px) {
    #wrap{
      min-width: 1599px;
    }
    } 