@font-face {
font-family: 'MangoDdobak-B';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'RixInooAriDuriR';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
text-decoration: none;
color: inherit;
}
li{
list-style: none;
}
img{
max-width: 100%;
display: block;
}
body{
background-color: #FFF8F0;
color: #555555;
position: relative;
font-family: "pretandard";
}
h1,h2{
font-family: 'RixInooAriDuriR';
font-weight: 400;
}

/* 헤더영역 */
header{
width: 100%;
height: 180px;
}
header .h_top{
width: 100%;
height: 100px;
padding-left: 100px;
border-bottom: 1px solid #666;
}
header .h_top a{
display: block;
width: 500px;
height: 100px;
margin: auto;
}
header .h_bottom{
width: 100%;
height: 80px;
border-bottom: 1px solid #666;
}
header .h_bottom .search {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

header .h_bottom .search form {
width: 500px;
display: flex;
justify-content: space-between;
border: 2px solid #FFA500;
border-radius: 50px;
background-color: #fff;
overflow: hidden;
height: 45px;
}

.search input[type="search"] {
border: none;
outline: none;
padding: 0 30px;
font-size: 16px;
width: 470px;
}

header .h_bottom .search button {
position: absolute;
top: 7px;
right: 0px;
border: none;
background: none;
padding: 0 15px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
header .h_bottom .search button img {
width: 30px;
height: 30px;
}

header .h_bottom nav{
width: 100%;
height: 100%;
}
header .h_bottom nav ul{
width:80%;
height: 100%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: yellow; */
}
header .h_bottom nav ul li a{
display: block;
width: 100px;
height: 60px;
line-height: 60px;
text-align: center;
align-content: center;
font-family: 'MangoDdobak-B';
font-size: 1.2em;
font-weight: bold;
color: #333;
transition: 0.3s ease;
text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
header .h_bottom nav ul li a>img{
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 60px;
}
header .h_bottom nav li a{
transition: 0.3s ease;
}
header .h_bottom nav ul li:hover{
transform: translateY(-5px);
}

/* main */
main{
  width: 100%;
  /* height: 100vh; */
  padding: 30px 0;
  background: url(../img/sub2_detail/bg.jpg) center / cover;
}
main .main_inner{
  width: 90%;
  height: 1200px;
  margin: auto;
  /* background-color: antiquewhite; */
  position: relative;
}
main .main_inner h1{
  font-size: 6em;
  margin-bottom: 30px;
  
}
main .main_inner hr{
  border: 1px solid #ffffff;
  margin-bottom: 100px;
}
main .review{
  width: 800px;
  height: 800px;
  margin: auto;
  background: #f7dee4d2;
  backdrop-filter: blur(15px);
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 50px 20px;
  box-shadow: 0 25px 45px #f3b4c3d2;
}
main .review h2{
  font-size: 50px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 50px;
  /* font-family: 'MangoDdobak-B'; */
}
main .review .imgbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
main .review .imgbox img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
main .review .gps{
  width: 700px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
  /* background-color: yellow; */
}
main .review .gps>img{
  width: 25px;
  height: 25px;
}
main .review .txtbox{
  width: 85%;
  height: 300px;
  padding: 20px;
  margin: auto;
  color: #444;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.3);
  border: 2px dashed rgba(133, 133, 133, 0.4);
}
main .review .txtbox .user{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
main .review .txtbox .user img{
  width: 30px;
  height: 30px;
}
main .review .txtbox p{
  font-size: 1.5em;
}
main .main_inner .btn{
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 1.5em;
  font-weight: 700;
  color: #FFF8F0;
  border-radius: 15px;
  border: none;
  background-color: #00D0B4;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  left: 64%;
}
main .main_inner .btn:hover{
  box-shadow: 0 10px 20px #00d0b45e;
  transform: translateY(-4px);
}







/* footer */
footer{
width: 100%;
height: 450px;
backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.1);
border-top: 1px solid #666;
}
footer .f_inner{
width: 80%;
height: 100%;
padding: 20px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
footer .f_inner .sns{
width: 400px;
height: 50px;
display: flex;
justify-content: center;
gap: 20px;
cursor: pointer;
transition: all 0.3s ease;
}
footer .f_inner .sns a:hover{
transform: translateY(-3px);
}
footer .f_inner .sns>a>img{
width: 40px;
height: 40px;
}
footer .f_inner .f_right h3{
color: #666;
font-size: 1.8em;
line-height: 1.4;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer .f_inner .f_right p{
font-size: 1.2em;
margin: 20px 0;
font-weight: 400;
color: #666;
line-height: 1.6;
}
footer .f_inner .f_right a,span{
font-size: 14px;
color: #666;

}
footer .f_inner .f_right a::after{
display: inline-block;
content: '';
width: 1px;
height: 12px;
background-color: #666;
margin-left: 10px;
margin-right: 10px;
}

/* side */
aside{
width: 60px;
height: 200px;
position: fixed;
right: 0px;
bottom: 50px;
text-align: center;
padding: 5px;
/* background-color: #00D0B4; */
}
aside .pagebtn button{
border: none;
background:none;
cursor: pointer;
margin-bottom: 15px;
}
aside>a{
display: block;
width: 100%;
}

  @media screen and (max-width:1599px) {
    #wrap{
      min-width: 1599px;
    }
    } 